body {
    font-family: "Roboto", 'Times New Roman', Times, serif;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-styles {
    color: #2196F3;
}
ul, li {
    list-style: none;
    display: inline;
}
